<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_logonew"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logonew_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ClinaxDoctor"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="codesgesture.app.clinaxdoctor.LoginPage" />
        <activity android:name="codesgesture.app.clinaxdoctor.PageTerm" />
        <activity android:name="codesgesture.app.clinaxdoctor.PageContact" />
        <activity android:name="codesgesture.app.clinaxdoctor.PageDeveloper" />
        <activity android:name="codesgesture.app.clinaxdoctor.PagePrivacy" />
        <activity android:name="codesgesture.app.clinaxdoctor.PageRefund" />
        <activity android:name="codesgesture.app.clinaxdoctor.Dashboard" />
        <activity android:name="codesgesture.app.clinaxdoctor.PageMyAppoinment" />
        <activity android:name="codesgesture.app.clinaxdoctor.TodayAppoinment" />
        <activity android:name="codesgesture.app.clinaxdoctor.DoctorProfile" />
        <activity android:name="codesgesture.app.clinaxdoctor.PatientReview" />
        <activity android:name="codesgesture.app.clinaxdoctor.PageAbout" />
        <activity android:name="codesgesture.app.clinaxdoctor.PageSlot" />
    </application>

</manifest>